/*

*
{
    color: rgb(68, 217, 217);
}

body
{
    background-color: rgb(65, 65, 228);
}
button 
{
    color:crimson;
    background-color:hex(#ff0);

}
*/
body{
    background-color: aqua;
    background-image: url("https://wallpaperaccess.com/full/47908.jpg");
}

.top
{
    color:rgb(78, 21, 125)

}

h1,p{
    background-color: blueviolet;
    text-align: center;
}

#heading1
{
    
    text-align: start;
    text-decoration: red underline 5px;
    text-transform: capitalize;
    font-weight: 500;
    font-family: cursive;
}

#heading2
{
    font-weight: lighter;
    font-family:'Gill Sans';
    font-size: 50px;
    line-height: 20px;
}

button
{
    background-color: rgba(144, 63, 226, 0.522);
    text-decoration: red solid 10px;
    text-transform: capitalize;
}

img{
    inline-size: 500px;

    box-shadow: 20px;
}

